.KillerToast--container {
  position: relative;
  margin: auto;
  z-index: 2;
  display: flex;
}

.KillerToast, .KillerToast * {
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out, background-color 1ms, color 1ms;
  -moz-transition: all 0.2s ease-in-out, background-color 1ms, color 1ms;
  -o-transition: all 0.2s ease-in-out, background-color 1ms, color 1ms;
  transition: all 0.2s ease-in-out, background-color 1ms, color 1ms;
}


.KillerToast.on, .KillerToast.on * {
  transform: scale(1);
}

.KillerToast p {
  padding: 0;
}

.KillerToast.on p {
  padding: 16px 24px;
  font-weight: bold;
}

.KillerToast.success {
  background-color: green;
  color: white;
}

.KillerToast.error {
  background-color: red;
  color: white;
}

.KillerToast.dead {
  background-color: black;
  color: white;
}
