.KillerToast--container {
  position: relative;
  margin: auto;
  z-index: 2;
  display: flex;
  color: white;
}

.KillerToast {
  /* -webkit-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  -moz-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  -o-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  transition: all 0.2s ease-out, background-color 1ms, color 1ms; */
  transition: all 0.2s ease-in-out, background-color 1ms ease-in-out .1s;
  transform: scale(0);
  padding: 0px 0px;
  font-weight: bold;
}

.KillerToast.on {
  transform: scale(1);
  padding: 16px 24px;
}

.KillerToast.success {
  background-color: green;
}

.KillerToast.error {
  background-color: red;
}

.KillerToast.dead {
  background-color: black;
}
