.KillerToast--container {
  position: relative;
  margin: auto;
  z-index: 2;
  display: flex;
}

.KillerToast {
  transform: scaleY(0);
  padding: 0;
  -webkit-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  -moz-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  -o-transition: all 0.2s ease-out, background-color 1ms, color 1ms;
  transition: all 0.2s ease-out, background-color 1ms, color 1ms;
}

.KillerToast.on {
  padding: 16px 24px;
  font-weight: bold;
  transform: scaleY(1);
}


.KillerToast.success {
  background-color: green;
  color: white;
}

.KillerToast.error {
  background-color: red;
  color: white;
}

.KillerToast.dead {
  background-color: black;
  color: white;
}
