.MainNavLink {
  display: inline-block;
  line-height: 24px;
  padding: 0px 8px;
  color: white;
  background-color: rgb(46, 46, 46);
  margin-left: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  text-decoration: none;
}

.MainNavLink.whitesmoke-black.active {
  background-color: whitesmoke;
  color: black;
}

.MainNavLink.green-white.active {
  background-color: green;
  color: white;
}

.MainNavLink.blue-white.active {
  background-color: blue;
  color: white;
}


