.MainHeaderNav {
  height: 0;
  top: 1px;
  right: 1px;
  -webkit-transform:translateZ(2px);
  -moz-transform:translateZ(2px);
  -o-transform:translateZ(2px);
  transform:translateZ(2px);
  z-index: 2;
}


.Dashboard .MainHeaderNav {
  position: relative;
}

.Landing .MainHeaderNav {
   position: absolute;
}

.MainHeaderNav--links {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  right: 1px;
  top: 1px;
}
