.MainHeaderNav {
  position: relative;
  top: -133px;
  height: 0;
}

.MainHeaderNav.edit {
  position: absolute;
  top: 1px;
  right: 1px;
}

.MainHeaderNav--links {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  /* position: absolute; */
  right: 1px;
  top: 1px;
}
