.FlyerCardMenu {
  position: relative;
  height: 0;
  float: right;
  display: flex;
  justify-content: space-between;
  /* background-color: dimgrey; */
}

.FlyerCardMenuClosed {
  position: relative;
  height: 0;
}

.FlyerCardMenuClosed .handle {
  position: absolute;
  right: 0px;
}

.handle {
  padding: 6px 10px;
  /* width: 100%; */
  text-align: right;
  /* color: rgb(46, 46, 46); */
  /* color: whitesmoke; */
  /* background-color: whitesmoke; */
  /* background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(255,255,255,.3)); */
}

.inline-float-right {
  display: inline-table;
  float: right;
}
