
body * {
    box-sizing: border-box;
    /* -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  */
}

body {
  font-family: 'Heebo', 'Arial';
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background-color: dimgrey;
  height: 100%;
  width: 100%;
  position: fixed;
  font-size: 12px;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
