
body * {
    box-sizing: border-box;
    /* -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  */
}

body {
  font-family: 'Heebo', 'Arial';
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background-color: dimgrey;
  height: 100%;
  width: 100%;
  position: fixed;
  font-size: 12px;
}

a {
  text-decoration: none;
   /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1, h2{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 14px;
}

h3 {
  margin-top: 0;
  font-size: 12px;
}

ul li {
  list-style: none;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username::before {
  content: '@';
}
