
body * {
    box-sizing: border-box;
    /* -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  */
}

body {
  font-family: 'Heebo', 'Arial';
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background-color: dimgrey;
  height: 100%;
  width: 100%;
  position: fixed;
  font-size: 12px;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.Header {
  width: 100%;
}

.Nav, .Main {
  height: 100%;
  overflow: scroll;
}

.Nav {
  width: 100px;
}

.Main {
  width: 100%;
}

.Nav--floating {
  position: fixed;
  right: 16px;
  top: 16px;
}

.Nav--btn {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: vertical;
  align-items: center;
  justify-content: center;
}

.Feed {
  column-count: 1;
  column-gap: 0;
  min-height: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.Feed .Card {
  break-inside: avoid-column;
}

/* @media (min-width: 999px) {
  .Feed {
    column-count: 3;
    column-gap: 16px;
  }
} */
@media (min-width: 599px) {
  .Feed {
    column-count: 2;
    column-gap: 16px;
  }
}

@media (min-width: 999px) {
  .Feed {
    column-count: 3;
    column-gap: 16px;
  }
}







/* Forms */
form {
  padding: 40px;
}

legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

label {
  display: block;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 14px;
}

h3 {
  margin-top: 0;
  font-size: 12px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  /* opacity: .5; */
}

a:hover {
  opacity: 1;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card--header {
  display: flex;
  margin-bottom: auto;
  align-items: baseline;

}

.Comment--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Custom classes */

.Modal {
  /* display: none; */
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
}

.Modal--content {
  position: relative;
  background: rgb(250, 250, 250);
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 400px;
  height: auto;
  /* max-height: 80vh; */
}

.Card {
  margin-bottom: 20px;
  background: rgb(250, 250, 250);
}

.Card--body {
  padding: 16px;
}

.AboutMenu {
  padding: 4px 8px;
}

/* Flyer */
.Flyer--image {
  width: 100%;
}

.Comment--avatar {
  width: 30px;
  border-radius: 50%;
}

.Comment--handle {
  margin-bottom: 0;
  margin-left: 8px;
}

.Comment span {
  font-size: 10px;
  font-weight: normal;
}

.Flyer--icon-status.Tag {
  background-color: red;
  margin-right: 4px;
}

.Flyer--icon-type.Tag {
  background-color: green;
  margin-right: 4px;
}

.Tag {
  display: inline-block;
  line-height: 24px;
  padding: 0px 8px;
  color: white;
  background-color: grey;
  margin-left: 0;
  margin-right: 2px;
}

.Card--header i {
  line-height: 24px;
  font-size: 22px;
}

.Venue--icon {
  color: orangered;
  margin-right: 4px;
}

.Venue-card--country img {
  height: 10px;
  margin-right: 2px;
}

.Venue-card--address i {
  margin-right: 2px;
}

.Accordian {
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  opacity: .5;
}

.active, .Accordian:hover{
  /* background-color: darkgray; */
  opacity: .5;
}

.Accordian:hover {
  opacity: 1;
}

.Accordian--content {
  display: none;
  overflow: hidden;
  /* margin-bottom: 16px;
  padding-bottom: 16px; */
  /* background-color: palegreen; */
}

.Comments {
  padding-left: 16px;
  padding-right: 16px;

}

.Comment {
  /* border-bottom: solid 1px black; */
  border-top: solid 1px dimgrey;
  padding-top: 16px;
  padding-bottom: 16px;
  /* padding: 16px; */
}

